/* google font */
@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* root variables */
:root {

    --primary-color:#FFFBF1;
    --secondary-color: #FFF2D0;
    --third-color: #6FD1D7;

    --heading-color: ;
    --font-color: ;
    --heading-style: "Cause", cursive;
    --font-style: "Roboto Slab", serif;
    --heading-size: 2rem;
    --font-size: 1rem;
    --heading-weigth: 900;
    --font-weigth: 700;

}

/* body background */
body{
    min-height: 100vh;
    background: linear-gradient(-45deg, #0f172a, #1e293b, #243a6b, #3e2c5e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: white;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/* header */
.navbar-brand{
    font-family: var(--heading-style);
    font-weight: var(--heading-weigth);
    color: var(--primary-color);
}

.nav-link{
    color: var(--secondary-color);
    font-family: var(--font-style);
    font-weight: var(--font-weigth);
}

.nav-link:hover{
    color: var(--primary-color);
    text-shadow: var(--primary-color);
}

/* hero section */

.hero-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 85vh;
}

.hero-name{
    font-family: var(--heading-style);
    font-weight: var(--heading-weigth);
    text-align: justify;
    font-size: 3rem;
    margin-top: 15vh;
}

.info-stats{
    font-family: var(--font-style);
}

.hero-btn{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.hero-link{
    color: var(--primary-color);
    text-decoration: none;
}

/* fetaure project */

/* contact */

/* footer */

/* responsive design */

/* animation */